<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DcsDataImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DcsDataImporter.Properties.Settings>
            <setting name="pathKneeboardBuilder" serializeAs="String">
                <value />
            </setting>
            <setting name="pathAto" serializeAs="String">
                <value />
            </setting>
            <setting name="prevMsnNr" serializeAs="String">
                <value />
            </setting>
            <setting name="standardTraining" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frequencyPresetFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="frequencyPresetSafeFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtCallsign" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtNrOfAc" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtMsnNr" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtTasking" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="prevCmbAirbaseDep" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtTakeoffTime" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtParking" serializeAs="String">
                <value />
            </setting>
            <setting name="prevChkAwacs" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtAwacsCallsign" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtAwacsFreq" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtAwacsChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtAwacsPreset" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtAwacsCp" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtAwacsBackupFreq" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtAwacsBackupChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtAwacsBackupPreset" serializeAs="String">
                <value />
            </setting>
            <setting name="prevChkTacp" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtTacpCallsign" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtTacpFreq" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtTacpChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtTacpPreset" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtTacpCp" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtTacpBackupFreq" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtTacpBackupChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtTacpBackupPreset" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtIfrnFreq" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtIfrnChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtIfrnPreset" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtAmp" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtCardinal" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtLoadout" serializeAs="String">
                <value />
            </setting>
            <setting name="prevChkDefault" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtAwacsChallenge" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtAwacsResponse" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtTacpChallenge" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtTacpResponse" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtTacpAbortChallenge" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtTacpAbortResponse" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtInternalFreq" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtInternalChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtInternalPreset" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtInternalBackupFreq" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtInternalBackupChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtInternalBackupPreset" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtMetar" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtJoker" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtBingo" serializeAs="String">
                <value />
            </setting>
            <setting name="prevChkTma" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtTmaEnabled" serializeAs="String">
                <value />
            </setting>
            <setting name="prevCmbAirbaseArr" serializeAs="String">
                <value />
            </setting>
            <setting name="prevCmbAirbaseAlt" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColTcnDep" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColIlsDep" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColGndFreqDep" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColTwrFreqDep" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColTmaFreqDep" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColTcnArr" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColIlsArr" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColGndFreqArr" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColTwrFreqArr" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColTmaFreqArr" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColTcnAlt" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColIlsAlt" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColGndFreqAlt" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColTwrFreqAlt" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColTmaFreqAlt" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColAirbaseDep" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColAirbaseArr" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColAirbaseAlt" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColElevDep" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColElevArr" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColElevAlt" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColRwyDep" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColRwyArr" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColRwyAlt" serializeAs="String">
                <value />
            </setting>
            <setting name="prevTxtLandingTime" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColTypeAwacsAGSupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColCallsignAwacsAGSupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColFreqAwacsAGSupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColChannelAwacsAGSupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColPresetAwacsAGSupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColBackupAwacsAGSupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColNotesAwacsAGSupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColTypeAwacsAASupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColCallsignAwacsAASupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColFreqAwacsAASupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColChannelAwacsAASupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColPresetAwacsAASupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColBackupAwacsAASupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColNotesAwacsAASupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColTypeFACASupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColCallsignFACASupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColFreqFACASupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColChannelFACASupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColPresetFACASupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColBackupFACASupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColNotesFACASupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColTypeTanker1Support" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColCallsignTanker1Support" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColFreqTanker1Support" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColChannelTanker1Support" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColPresetTanker1Support" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColBackupTanker1Support" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColNotesTanker1Support" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColTypeTanker2Support" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColCallsignTanker2Support" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColFreqTanker2Support" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColChannelTanker2Support" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColPresetTanker2Support" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColBackupTanker2Support" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColNotesTanker2Support" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColTypeJSTARSupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColCallsignJSTARSupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColFreqJSTARSupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColChannelJSTARSupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColPresetJSTARSupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColBackupJSTARSupport" serializeAs="String">
                <value />
            </setting>
            <setting name="prevColNotesJSTARSupport" serializeAs="String">
                <value />
            </setting>
            <setting name="pathDocmFile" serializeAs="String">
                <value />
            </setting>
        </DcsDataImporter.Properties.Settings>
    </userSettings>
</configuration>